body { background-color: red; }

/* make browsers include padding and border inside the width */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* http://html5please.com/#box-sizing */
/** {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/

/* basic table styles and positioning */
/*table {
  width: 100%;
  float: left;
  border: 1px solid #aaa;
}
*/

/* table cells get "display: block" and "float: left" */
/*th, td {
  display: block;
  float: left;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #aaa;
}
*/

/* the far left column will be full-width and called out */
/*th {
  width: 100%;
  background-color: #000;
  color: #fff;
}
*/

/* each inner table cell will fit four-across (25%) */
/*td {
  width: 25%;
  min-height: 3em;
  border-right: 1px solid #aaa;
}
*/

/* hide the header row */
/*thead {
  display: none;
}
*/

/* because the header row is dynamic and we need to see it for each row,
   we're going to use generated content to fake it */
/*td:before {
  display: block;
  font-weight: bold;
  margin-bottom: .25em;
}
*/

/* the second column (or the first inner table cell) is the first payment */
/*td:nth-child(2):before {
  content: "Today";
}
*/

/* each additional inner cell is for the following month's payment */
/*td:nth-child(3):before {
  content: "Month 2";
}
td:nth-child(4):before {
  content: "Month 3";
}
td:nth-child(5):before {
  content: "Month 4";
}
td:nth-child(6):before {
  content: "Month 5";
}
td:nth-child(7):before {
  content: "Month 6";
}
td:nth-child(8):before {
  content: "Month 7";
}
td:nth-child(9):before {
  content: "Month 8";
}
td:nth-child(10):before {
  content: "Month 9";
}
td:nth-child(11):before {
  content: "Month 10";
}
td:nth-child(12):before {
  content: "Month 11";
}
*/

/* hide the empty cells at the end of each row */
/*tr:nth-child(2) td:nth-child(11),
tr:nth-child(2) td:nth-child(12),
tr:nth-child(3) td:nth-child(12),
tr:nth-child(4) td:nth-child(9),
tr:nth-child(4) td:nth-child(10),
tr:nth-child(4) td:nth-child(11),
tr:nth-child(4) td:nth-child(12) {
  display: none;
}
*/

/* the last option only has one inner cell, make it 100% */
/*tr:nth-child(5) td {
  width: 100%;
}*/